@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-body {
  height: calc(100vh-50px);
}

.nav {
  height: 50px;
  align-items: center;
  /* background-color: cadetblue; */
  position: sticky;
  display: flex;
  justify-content: center;


}
.ulist {
  /* background-color: burlywood; */
  width: 70%;
  display: flex;
  gap: 15px;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
}